<a href="https://colab.research.google.com/github/tdeepakb/Deepak_Python_project/blob/master/Module_2_CaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case Study:- 1

1. Create a class named Employee, with a constructor ‘__init__’ method that
accepts name and salary as parameters and set properties named name
and salary.
2. Define __str__ method in Employee class so that when someone tries to
print the object the string Name: employee_name, Salary:
employee_salary is printed with the actual employee name and salary.
3. Create another class named Calculator, with methods to add, subtract,
multiply and divide two numbers.
4. These methods take two numbers as parameters.
5. These methods will be called by a method named execute command.
6. Execute command takes in 3 parameters command which is string that can
be either ‘add’, ‘sub’, ‘mul’, ‘div’, and two numbers and it will call the
appropriate method based on command parameter.

In [9]:
class Employee:
  def __init__(self):
    self.name= input('enter name')
    self.salary= int(input('enter salary'))

  def __str__(self,employee_name,salary):
    self.employee_name = employee_name
    self.salary = salary
    print('employee name',employee_name,'your Salary: ',salary)

In [10]:
mohan=Employee()

enter namehgg
enter salary766

In [12]:
mohan.__str__('Mohan',51000)

employee name Mohan your Salary:  51000

In [15]:
class Calculator:
  def add(self,a,b):
    return a + b


  def sub(self,a,b):
    return a - b


  def mul(self,a,b):
    return a * b


  def div(self,a,b):
    if b != 0:
      return a / b
    else:
      return 'Error: Division by 0'

  def execute_command(self,command,a,b):
    if command == 'add':
      return self.add(a,b)

    elif command == 'sub':
      return self.sub(a,b)

    elif command == 'mul':
      return self.mul(a,b)

    elif command == 'div':
      return self.div(a,b)

    else:
      return 'Error: Invalid command'

In [16]:
cal= Calculator()

In [17]:
cal.add(4,5)

9

In [18]:
cal.sub(9,3)

6

In [19]:
cal.mul(4,5)

20

In [20]:
cal.div(6,2)

3.0