<a href="https://colab.research.google.com/github/tdeepakb/Deepak_Python_project/blob/master/Module_1_CaseStudy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Case Study- 1

1. Create a list containing squares of numbers from 1 to 10 (HINT: use List
Comprehension).
2. Write a function to check if the year number is a leap year.
3. Write a function to take an array and return another array that contains the
members of the first array that are even.
4. Write a function that takes 2 arrays and prints the members of the first
array that are present in the second array. (HINT: use Membership
Comprehension)

In [2]:
#1
squares = [x**2 for x in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
#2
def leap_year(year):
  if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    return True
  return False

In [4]:
leap_year(2025)

False

In [5]:
leap_year(2024)

True

In [6]:
# 3
def even_num(arr):
  return [x for x in arr if x % 2 == 0]

In [9]:
num = [1,2,3,4,5]
even_num(num)

[2, 4]

In [10]:
#4
def find_element(arr1, arr2):
  common_element = [x for x in arr1 if x in arr2]
  print(common_element)

In [11]:
arr1 = [1,2,3,4]
arr2 = [3,4,5,6]
find_element(arr1,arr2)

[3, 4]

Case Study:- 2

1. Create 1st tuple with values -> (10, 20, 30), 2nd tuple with values -> (40,
50, 60):
a. Concatenate the two tuples and store it in “t_combine”
b. Repeat the elements of “t_combine” 3 times
c. Access the 3rd element from “t_combine”
d. Access the first three elements from “t_combine”
e. Access the last three elements from “t_combine”
2. Create a list ‘my_list’ with these elements:
a. First element is a tuple with values 1, 2, 3
b. Second element is a tuple with values “a”, “b”, “c”
c. Third element is a tuple with values True, False
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’:
a. Append a new list – *“sparta”, 123+ to my_list
4. Create a dictionary ‘fruit’ where:
a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”,
“Guava”)
b. The second key is ‘Cost’ and the values are (85, 54, 120, 70)
c. Extract all the keys from ‘fruit’
d. Extract all the values from ‘fruit’
5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and
print the result.

In [12]:
tuple_1 = (10,20,30)
tuple_2 = (40,50,60)

In [13]:
t_combine = tuple_1+tuple_2

In [14]:
t_combine

(10, 20, 30, 40, 50, 60)

In [16]:
t_combine_3t = t_combine * 3
t_combine_3t

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [ ]:
#2

2. Create a list ‘my_list’ with these elements: a. First element is a tuple with values 1, 2, 3 b. Second element is a tuple with values “a”, “b”, “c” c. Third element is a tuple with values True, False
3. Append a new tuple – (1, ‘a’, True) to ‘my_list’: a. Append a new list

In [17]:
my_list = [(1,2,3),('a','b','c'),(True,False)]

In [18]:
new_tuple = (1, 'a', True)

In [25]:
new_list = my_list.append(new_tuple)

In [24]:
print(my_list)

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True)]

4. Create a dictionary ‘fruit’ where: a. The first key is ‘Fruit’ and the values are (“Apple”, “Banana”, “Mango”, “Guava”) b. The second key is ‘Cost’ and the values are (85, 54, 120, 70) c. Extract all the keys from ‘fruit’ d. Extract all the values from ‘fruit’

In [27]:
fruit = {
    'Fruit': ['Apple','Banana','Mango','Guava'],
    'Cost': ['85','54','120','70']
}

In [28]:
fruit

{'Fruit': ['Apple', 'Banana', 'Mango', 'Guava'],
 'Cost': ['85', '54', '120', '70']}

In [33]:
print(fruit.keys())

dict_keys(['Fruit', 'Cost'])

In [34]:
print(fruit.values())

dict_values([['Apple', 'Banana', 'Mango', 'Guava'], ['85', '54', '120', '70']])

5. Create a set named ‘my_set’ with values (1, 1, “a”, “a”, True, True) and print the result.

In [41]:
my_set = {1,1,'a','a',True,True}

In [40]:
print(my_set)

{1, 'a'}