<a href="https://colab.research.google.com/github/tdeepakb/Deepak_Python_project/blob/master/Module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assignment- 1

1. Create a function named ‘factor’ that can only accept 1 argument. The
function should return the factorial of that number.

In [1]:
def factorial(num):
  r = 1
  while num>0:
    r = r*num
    num-=1

  return r

In [2]:
factorial(4)

24

In [3]:
factorial(5)

120

2. Create a function named ‘check_string’, the function should accept a string
data from the user and the function should check if the user input contains
the letter ‘s’ in it. If it contains the letter ‘s’ then print- ‘The string is
containing the letter ‘s’’, if not then print- ‘The string doesn’t contain the
letter ‘s’’.

In [4]:
def check_string(str):
  for x in str:
    if x == 's' or x == 'S':
      return 'This word contain letter s'

  return 'This word not contain  s'

In [5]:
check_string('strong')

'This word contain letter s'

In [6]:
check_string('rider')

'This word not contain  s'

3. Create a class named ‘student’ and inside the class, create a function
named ‘fun1’- this method should accept the user defined input and return
that value:
a. Create another method named- message() and that method should print
the user defined input that we have defined in ‘fun1’.

In [7]:
class Student:
  def fun1(self):
    self.name = input('enter name')
    return self.name

  def message(self):
    print(self.name)

In [8]:
mohan=Student()

In [9]:
mohan.fun1()

enter nameMohan

'Mohan'

In [10]:
mohan.message()

Mohan

4. Create a lambda function that should double or multiply the number (that
we will be passing in the lambda function) by 2. Store the lambda function
in a variable named ‘double_num’.

In [11]:
double_num = lambda x: x*2

In [12]:
print(double_num(4))

8

In [13]:
double_num(6)

12

5. Take user input string and check whether that string is palindrome or not.

In [17]:
def check_palingdrome(str):
  if str==str[::-1]:
    return 'Palingdrome'

  return 'Not palingdrome'

In [19]:
check_palingdrome('hello')

'Not palingdrome'

In [20]:
check_palingdrome('rotator')

'Palingdrome'

Assignment- 2

1. Create a class named ‘Super’ and inside that class define a user-defined
function named fun1
a. Inside the ‘fun1’ function, pass the message “This is function 1 in the
Super class.” in the print statement.
2. Create another class named ‘Modified_Super’ and inherit this class from
the Super class
a. Inside the Modified_Super class, create a function named ‘fun1’ and
pass the following message inside the print statement: ‘This is function 1 in
the Modified Super class.’
b. Create another user-defined function named ‘fun2’ and pass the
message: ‘This is the 2 nd function from the Modified Super class’ in the
print statement.
c. After that, now create an object for the Modified_Super class and call the
fun1().
3. Create 2 methods named ‘Hello’. In the 1st Hello method, pass only one
argument and pass this message: ‘This function is only having 1
argument’. And in the 2nd Hello method, pass two arguments and pass
this message: ‘This function is having 2 arguments’.

In [22]:
class Super:
  def fun1(self):
    print('This is function 1 in the Super class')

class Modified_Super(Super):
  def fun1(self):
    print('This is function 1 in the modified_super class')

  def fun2(self):
    print('This is 2nd function from the modified super class')

In [23]:
xyz=Modified_Super()

In [24]:
xyz.fun1()

This is function 1 in the modified_super class

In [25]:
def Hello(a):
  print('This function having 1 arguments')

def Hello(a,b):
  print('This function is having 2 arguments')

In [26]:
Hello('sir')

TypeError: Hello() missing 1 required positional argument: 'b'

In [27]:
Hello('mohan','sir')

This function is having 2 arguments

4. Create a method named ‘Sum’ that can accept multiple user inputs. Now
add those user defined input values using for loop and the function should
return the addition of the numbers.

In [28]:
def sum(*inp):
  total = 0
  for x in range(len(inp)):
    total = total+inp[x]

  return total

In [29]:
sum(3,4,5)

12

In [30]:
sum(2,3,4,6,7,8)

30

5. Create a class named ‘Encapsulation’:
a. Inside the class, first create a constructor. Inside the constructor,
initialize originalValue variable as 10.
b. After creating the constructor, define a function named ‘Value’ and this
function should return the variable that we have initialized in the
constructor.
c. Now create a 2nd function named setValue, and pass an argument
named ‘newValue’. The task of this function will be to replace the value of
the originalValue variable by the value of newValue variable

In [42]:
class Encapsulation:
  def __init__(self):
    self.originalvalue= 10

  def value(self):
    return self.originalvalue

  def setValue(self,newValue):
    self.newValue= newValue
    self.originalvalue= newValue

In [43]:
hotel=Encapsulation()

In [44]:
hotel.value()

10

In [45]:
hotel.setValue(54)

In [47]:
hotel.value()

54

Assignment- 3

1. Create a Python file named Module:
a. Inside the file, define 4 methods named – addition, subtraction,
multiplication, and division.
b. Each method should only accept 2 arguments and should return the
result of operation performed in each method. For e.g., addition() should
return the sum of two arguments.
c. Save the Module file in .py format.
2. Open a new python file and import the Module.py file
a. Now call the 4 methods from the Module.py file, i.e., addition(),
subtraction(), multiplication(), and division().
3. From the Module file, import only the addition() and pass the arguments so
that it can display the result from the method.
4. From the Module file, import only the subtraction() and pass the arguments
so that it can display the result from the method.
5. From the Module file, import both the multiplication() and division() and
pass the a

In [52]:
from module import sum,multiply, division, subtract

In [49]:
sum(3,4)

7

In [50]:
multiply(3,2)

6

In [51]:
division(9,3)

3.0

In [53]:
subtract(6,4)

2

In [54]:
from module import *

Assignment- 4

1. Create a class named parent_Class and inside the class, initialize a global
variable num as 10
a. Create another class named child_Class and this class should be
inherited from the parent class.
b. Now create an object for the child_Class and with the help of
child_Class object, display the value of ‘num'.

In [56]:
class Parent_class:
  def global_var_num(self,num):
    self.num=10

class Child_class(Parent_class):
  def child(self):
    print('This is a child class')

In [57]:
rohan=Child_class()

In [58]:
rohan.global_var_num(10)

In [59]:
rohan.child()

This is a child class

In [61]:
rohan.num

10

2. Create three classes named A, B and C
a. Inside the A class, create a constructor. Inside the constructor, initialize
2 global variables name and age.
b. After initializing the global variables inside the constructor, now create a
function named ‘details’ and that function should return the ‘name’ variable.
c. Inside the B class, create a constructor. Inside the constructor, initialize 2
global variables name and id.
d. After initializing the global variables inside the constructor, now create a
function named ‘details’ and that function should return the ‘name’ variable.
e. The C class should inherit from class A, and B. Inside the class C,
create a constructor, and inside the constructor, call the constructor of
class A.
f. Now, create a method inside the class C, as get_details, and this function
should return the value of name.
g. Atlast, create an object of class C, and with the help of the object, call
the get_details().

In [63]:
class A:
  def __init__(self,name,age):
    self.name= name
    self.age= age
    print('your name is: ',name,'your age is: ',age)

  def details(self):
    return self.name

class B:
  def __init__(self,name,id):
    self.name= name
    self.id= id

  def details(self):
    return self.name

class C(A, B):
  def __init__(self,name,age):
    self.name= name
    self.age= age
    print('your name is: ',name,'your age is: ',age)

  def details(self):
    return self.name

In [68]:
chandan= C('rohan',45)

your name is:  rohan your age is:  45

In [69]:
chandan.details()

'rohan'

3. Create a class named ‘Sub1’, inside the class, generate a user defined
function named ‘first’ and inside the function, pass the following statement
in the print()- ‘This is the first function from Sub 1 class’.
a. Now create another class named ‘Sub2’, and inside the class, create a
function named ‘second’, and pass the following message in the print()-
‘This is the second function from the Sub 2 class’
b. After that, create another class named ‘Super’ and inside that class,
create a method named ‘final’, and pass the below message in the print()-
‘This is the final method from the super class’.
c. Now, create an object for the Super class and call all the 3 user defined
methods, i.e., first(), second(), and final().

In [75]:
class Sub1:
  def first(self):
    print('This is first function from Sub1')
    self.name= input('enter name')

class Sub2:
  def second(self):
    print('This is second function from the Sub2 class')
    self.name= input('enter name')

class Super(Sub1,Sub2):
  def final(self):
    print('This is the final method from the super class')
    self.name= input('enter name')

In [76]:
deep= Super()

In [80]:
# if i will call without inherit sub1 and sub2 it will show error

In [77]:
deep.first()

This is first function from Sub1
enter namehello first

In [78]:
deep.second()

This is second function from the Sub2 class
enter namehello second

In [79]:
deep.final()

This is the final method from the super class
enter namehello final one

4. Create a class named ‘Parent’, and inside the class, create a function
named ‘fun1’ and pass the following message in the print()- ‘This is the
message from the fun1’.
a. Now create a class named ‘Child1’ and inside the class, create a
method named ‘fun2’ and pass the following message in the print()- ‘This is
the message from the fun2’.
b. After that, create another class named ‘Child2’ and inside the class,
create a method named ‘fun3’ and pass the following message in the
print()- ‘This is the message from the fun3’.
c. Now, create an object of Child2 class and with the help of the object, call
the ‘fun1’ method from the ‘Parent’ class.
5. Create a class named ‘Parent’, and inside the class, create a function
named ‘fun1’ and pass the following message in the print()- ‘This is the
message from the fun1’.
a. Now create a class named ‘Child’ and inside the class, create a method
named ‘fun2’ and pass the following message in the print()- ‘This is the
message from the fun2’.
b. After that, create another class named ‘Hybrid’ and inside the class,
create a method named ‘fun3’ and pass the following message in the
print()- ‘This is the message from the fun3’.
c. Now create an object of Hybrid class and with the help of the object, call
the ‘fun1’, ‘fun2’ and ‘fun3’ method

In [90]:
class Parent:
  def fun1(self):
    print('This is the message from the fun1')

class Child1:
  def fun2(self):
    print('This is the message from the fun2')

class Child2(Parent, Child):
  def fun3(self):
    print('This is the message from the fun3')

In [91]:
dev= Child2()

In [92]:
dev.fun1()

This is the message from the fun1

In [100]:
class Parent:
  def fun1(self):
    print('This is the message from the fun1')

class Child:
  def fun2(self):
    print('This is the message from the fun2')

class Hybrid(Parent, Child):
  def fun3(self):
    print('This is the message from the fun3')

In [101]:
xyz= Hybrid()

In [102]:
xyz.fun1()

This is the message from the fun1

In [103]:
xyz.fun2()

This is the message from the fun2

In [104]:
xyz.fun3()

This is the message from the fun3